# Node modules
node_modules/

# Output of TypeScript build
dist/
build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# OS files
.DS_Store
Thumbs.db

# Env files
.env
.env.local

# Cache
.cache/
.tmp/
tsbuildinfo.tsbuildinfo

# Editor files
.idea/
.vscode/
*.swp
